<!doctype html>
<html lang="es-MX">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Hola</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Datos</h2>
                <table *ngIf="validarDatos === true" class="table table-sm">
                    <thead>
                        <tr>
                            <td class="text-center">id</td>
                            <td class="text-center">Producto</td>
                            <td class="text-center">Precio</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let datos of articulos">
                            <th class="text-center">{{datos.id}}</th>
                            <th class="text-center">{{datos.producto}}</th>
                            <th class="text-center">{{datos.precio}}</th>
                        </tr>
                    </tbody>
                </table>
                <h1 *ngIf="validarDatos === false">
                    No hay datos
                </h1>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>